.container {
    margin-top: 5%;
    margin-bottom: 5%;
} 

body {
    background-color: #CEF6F5;
    /*background-image: url("../img/fondo.jpg");
    background-image: no-repeat;
    background-size: cover;*/  
}  